# LangSmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://url_de_proyecto_langsmith.com
LANGSMITH_API_KEY=clave_langsmith
LANGSMITH_PROJECT="nombre_proyecto"

# Modelo gpt-oss
OPENAI_MODEL_NAME="nombre_modelo"
GPT_OSS_KEY=clave_modelo
BASE_URL_OSS="https://url_del_modelo_hosteado.es"

# Base de datos PostgreSQL
DB_HOST=localhost    # Por defecto
DB_PORT=5432         # Por defecto
DB_USER=usuario_db
DB_PASS=clave_db
DB_NAME=nombre_db